@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  --tw-border-opacity: 0;
  color: rgb(7, 7, 24);
  background-color: hsl(var(--bc) / var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}
